@use './components/Variables/variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: variables.$fontePrincipal;
    src: url('./assets/fonts/ProductSans-Regular.ttf') format('truetype');
}
@font-face {
    font-family: variables.$fonteBrand;
    src: url('./assets/fonts/Audiowide-Regular.ttf') format('truetype');
}
@font-face {
    font-family: variables.$fonteHero;
    src: url('./assets/fonts/poppins.extrabold.ttf') format('truetype');
}
body{
    font-family: variables.$fontePrincipal;
    background-color: #f4f7fd;
}